/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.hero-item-inner, .point-circle-inner, .point-merit-circle-inner, .point-feature-circle .txtxs, .faq-content-q-inner-circle .txts, .faq-content-a-inner-circle .txts {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

html {
  font-size: 62.5%;
}

@media (min-width: 780px) {
  html {
    font-size: 92.5%;
  }
}

body {
  font-size: 1.6em;
  line-height: 1.4;
  color: #2c2c2c;
  position: relative;
}

.txtxl {
  font-size: 3.2rem;
}

.txtl {
  font-size: 2.4rem;
}

.txtm {
  font-size: 1.6rem;
}

.txts {
  font-size: 1.2rem;
  line-height: 1.8;
}

.txtxs {
  font-size: 1rem;
}

@media (min-width: 780px) {
  .sp-only {
    display: none;
  }
}

@media (max-width: 779px) {
  .pc-only {
    display: none;
  }
}

.btn {
  position: relative;
  font-weight: bold;
  text-align: center;
}

.btn a {
  display: block;
  box-sizing: border-box;
  border-radius: 50px;
  width: 70%;
  max-width: 300px;
  margin: 0 auto;
  background: linear-gradient(to right, #e66969, #2852ab);
  padding: 2rem;
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.btn a::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  z-index: -1;
  background-color: #e66969;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn a:hover::before {
  left: 0;
  display: block;
}

.btn-container {
  background: #e8edfc;
  padding: 5rem 2rem;
}

.btn-container-inner {
  background: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 3rem;
}

@media (min-width: 780px) {
  .btn-container-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80.07812vw;
    margin: 0 auto;
  }
}

.btn-container-inner .btn {
  margin-top: 2rem;
}

@media (min-width: 780px) {
  .btn-container-inner .btn {
    width: 50%;
    margin-top: 0;
  }
  .btn-container-inner .btn a {
    max-width: 400px;
  }
}

@media (min-width: 780px) {
  .btn-container-txt {
    width: 50%;
  }
}

.suggestion {
  background: #fff;
  color: #2852ab;
  padding: 1rem 2rem;
  border-radius: 50px;
  max-width: 600px;
  margin: 0 auto;
  font-weight: bold;
}

@media (max-width: 779px) {
  .suggestion {
    width: 280px;
    padding: 1.8rem 0;
  }
}

.section-title {
  text-align: center;
}

.section-title .txtl {
  font-weight: bold;
}

.section-title-img {
  width: 15%;
  margin: 0 auto;
  margin-top: 1.4rem;
}

.section-title-img img {
  width: 100%;
  height: auto;
}

.border {
  width: 80%;
  height: 1px;
  background: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 780px) {
  .border {
    width: 70px;
    transform: rotate(-60deg);
  }
}

.border-line {
  width: 100%;
  height: 10px;
  background-image: url(../img/line.svg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2.6rem;
  background-color: rgba(255, 255, 255, 0);
}

.header-logo {
  font-family: "Poppins", sans-serif;
  color: #2852ab;
  font-size: 3rem;
}

@media (min-width: 780px) {
  .header-logo {
    border: 1px solid #707070;
    text-align: center;
    font-size: 1.8rem;
    padding: .6rem 0;
    margin-top: .4rem;
  }
}

.header-logo-main {
  color: #2852ab;
}

.header-mail {
  width: 50%;
}

.header-mail a {
  padding: 1rem;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
}

@media (min-width: 780px) {
  .header-mail a {
    padding: 1.6rem;
    max-width: 220px;
  }
}

.header-mail-txt {
  font-weight: normal;
  text-shadow: 2px 2px 0 #2c2c2c;
  margin-right: 1rem;
}

.header-mail .mail-icon {
  color: #fff;
  font-size: 2.4rem;
}

.hero {
  overflow: hidden;
}

.hero-bg {
  background-image: url(../img/hero@2x.png);
  background-position: 30px 100%;
  background-size: 110%;
  background-repeat: no-repeat;
}

@media (min-width: 780px) {
  .hero-bg {
    background-position: 120px 100%;
    background-size: 95%;
  }
}

.hero-inner {
  width: 89.33333vw;
  margin: 0 auto;
}

@media (min-width: 780px) {
  .hero-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10rem 0 12rem 0;
    width: 80.07812vw;
  }
}

@media (min-width: 780px) {
  .hero-title {
    margin-left: 4rem;
    width: 50%;
  }
}

.hero-title .txtxl {
  font-weight: bold;
  margin-bottom: 1rem;
}

@media (min-width: 780px) {
  .hero-title .txtxl {
    margin-bottom: 4rem;
    font-size: 4rem;
  }
}

.hero-title .txts {
  font-weight: bold;
}

@media (min-width: 780px) {
  .hero-title .txts {
    font-size: 1.6rem;
  }
}

.hero-list {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}

@media (min-width: 780px) {
  .hero-list {
    padding: 0;
    justify-content: space-between;
    width: 60%;
  }
}

.hero-item {
  background: #e66969;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  position: relative;
  line-height: 1.2;
}

@media (min-width: 780px) {
  .hero-item {
    width: 160px;
    height: 160px;
  }
}

.hero-item .txts {
  color: #2852ab;
}

.hero-item .txts .bold {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
}

.hero-item .txtxs {
  color: #fff;
}

.hero-btm {
  text-align: center;
}

@media (min-width: 780px) {
  .hero-btm {
    width: 100%;
    display: flex;
    align-items: stretch;
  }
}

.hero-btm-school {
  background: #2852ab;
  color: #fff;
  padding: 1.4rem 0;
}

@media (min-width: 780px) {
  .hero-btm-school {
    width: 60%;
    padding: 6rem;
    display: flex;
    align-items: center;
  }
  .hero-btm-school .txtm {
    font-size: 3rem;
    -webkit-text-stroke: 2px #2c2c2c;
  }
  .hero-btm-school-img {
    width: 100%;
    margin: 0 auto;
  }
  .hero-btm-school img {
    width: 100%;
    height: auto;
  }
}

.hero-btm-box {
  border: 5px solid #2c2c2c;
}

@media (min-width: 780px) {
  .hero-btm-box {
    width: 40%;
    height: 100%;
  }
}

.hero-btm-box .txts {
  background: #2c2c2c;
  color: #fff;
  padding: 1.4rem 0;
}

.hero-btm-logo {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  color: #2852ab;
  letter-spacing: .1em;
}

.intro-bg {
  background-image: url(../img/bg@2x.png);
  background-repeat: repeat;
  padding-top: 5rem;
}

@media (min-width: 780px) {
  .intro-bg {
    padding-top: 10rem;
  }
}

.intro-bg .box {
  padding-top: calc(10vw);
  position: relative;
}

.intro-bg .box::before, .intro-bg .box::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 10vw solid #e8edfc;
}

.intro-bg .box::before {
  left: 0;
  border-right: 50vw solid transparent;
}

.intro-bg .box::after {
  right: 0;
  border-left: 50vw solid transparent;
}

.intro-inner {
  width: 89.33333vw;
  margin: 0 auto;
  margin-bottom: 1.4rem;
}

@media (min-width: 780px) {
  .intro-inner {
    margin-bottom: 0;
  }
}

.intro-title {
  text-align: center;
}

.intro-title .txtm {
  font-weight: bold;
}

@media (min-width: 780px) {
  .intro-title .txtm {
    font-size: 3.4rem;
  }
}

.intro-title .suggestion {
  border: 1px solid #707070;
  margin-top: 3rem;
}

.intro-title .suggestion .txtm {
  font-size: 1.6rem;
}

.intro-title .txtxl {
  font-weight: bold;
}

.intro-list {
  text-align: left;
  margin: 3rem 0;
}

@media (min-width: 780px) {
  .intro-list {
    width: 70%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.intro-item {
  margin-bottom: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.intro-item:last-child {
  margin-bottom: 0;
}

.intro-item-icon {
  margin-right: 2rem;
}

.intro-item-icon img {
  margin-right: -15px;
}

.coaching {
  background: #e8edfc;
  padding: 5rem 0;
}

@media (min-width: 768px) {
  .coaching {
    padding: 10rem 0;
  }
}

.coaching-inner {
  width: 90%;
  margin: 0 auto;
}

.coaching-head {
  text-align: center;
}

.coaching-head-txt {
  font-weight: bold;
  position: relative;
}

@media (min-width: 768px) {
  .coaching-head-txt .txtm {
    font-size: 2.8rem;
  }
}

@media (min-width: 780px) {
  .coaching-head-txt .txtm::before {
    content: '';
    position: absolute;
    bottom: -20px;
    width: 7px;
    height: 80px;
    left: 100px;
    background: #fff;
    transform: rotate(-30deg);
  }
}

@media (min-width: 780px) {
  .coaching-head-txt .txtm::after {
    content: '';
    position: absolute;
    bottom: -20px;
    width: 7px;
    height: 80px;
    right: 100px;
    background: #fff;
    transform: rotate(30deg);
  }
}

.coaching-head-logo {
  margin: 2rem 0;
}

@media (min-width: 768px) {
  .coaching-head-logo {
    margin: 3.4rem 0;
  }
}

.coaching-head-logo .txtxl {
  font-size: 8rem;
  color: #2852ab;
  font-family: "Poppins", sans-serif;
}

.coaching-head .suggestion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .coaching-head .suggestion {
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .coaching-movie {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
}

.coaching-movie-box {
  margin-top: 2rem;
  border: 1px solid #707070;
  width: 100%;
  height: 200px;
  background: #fff;
}

@media (min-width: 768px) {
  .coaching-movie-box {
    width: 48%;
    height: 350px;
  }
}

.point-content {
  margin: 5rem 0;
}

.point-content:last-child {
  margin: 0;
}

@media (min-width: 780px) {
  .point-head {
    display: flex;
    justify-content: flex-start;
    margin-left: 8rem;
    width: 80.07812vw;
  }
}

.point-head-txt {
  width: 89.33333vw;
  margin: 0 auto;
}

@media (min-width: 780px) {
  .point-head-txt {
    width: 70%;
  }
}

.point-head-txt .txtl {
  font-weight: bold;
  text-align: center;
  margin: 1.4rem 0;
}

@media (min-width: 780px) {
  .point-head-txt .txtl {
    text-align: left;
  }
}

.point-head-line {
  width: 100%;
  height: 50px;
  background-image: url(../img/linecircle@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.point-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  background: #2852ab;
  text-align: center;
  position: relative;
}

@media (min-width: 768px) {
  .point-circle {
    width: 200px;
    height: 200px;
  }
}

.point-circle-inner {
  color: #fff;
}

.point-circle-inner .txtxl {
  font-size: 5rem;
}

.point-merit {
  width: 89.33333vw;
  margin: 0 auto;
  margin-bottom: -10rem;
}

@media (min-width: 780px) {
  .point-merit {
    display: flex;
    justify-content: space-between;
    width: 96.5625vw;
  }
}

.point-merit-inner {
  font-weight: bold;
}

.point-merit-inner .txtl {
  margin-bottom: 2rem;
  text-align: center;
}

.point-merit-item {
  position: relative;
  border: 3px solid #2c2c2c;
  padding: 7rem 2rem 4rem 2rem;
  border-radius: 20px;
  margin-top: 8rem;
  background: #fff;
  z-index: 2;
}

@media (min-width: 780px) {
  .point-merit-item {
    width: 31.95793%;
  }
}

.point-merit-circle {
  position: relative;
  background: #e66969;
  border: 2px solid #2c2c2c;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%, 0);
}

@media (min-width: 780px) {
  .point-merit-circle {
    width: 120px;
    height: 120px;
    top: -60px;
  }
}

.point-merit-circle-inner {
  text-align: center;
}

.point-merit-circle-inner .txtxs {
  color: #2852ab;
}

.point-merit-circle-inner .txtl {
  color: #fff;
  font-family: din-condensed, sans-serif;
  font-size: 3.6rem;
}

@media (min-width: 780px) {
  .point-merit-circle-inner .txtl {
    line-height: 1;
  }
}

.point-bg-blue {
  background: #2852ab;
  width: 100%;
  text-align: center;
  padding: 14rem 2rem 4rem 2rem;
}

@media (min-width: 780px) {
  .point-bg-blue {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.point-bg-blue .txtm {
  color: #fff;
}

@media (min-width: 780px) {
  .point-bg-blue .txtm {
    margin-right: 1rem;
  }
}

.point-bg-blue .txtxl {
  color: #fff;
  font-weight: bold;
  -webkit-text-stroke: 2px black;
}

@media (min-width: 780px) {
  .point-bg-blue .txtxl {
    font-size: 4.4rem;
  }
}

.point .border1 {
  width: 100%;
  height: 10px;
  background-image: url(../img/line.svg);
  transform: rotate(0deg);
  margin: 0;
}

.point-feedback {
  background: #fff;
  padding: 3rem 2rem;
}

@media (min-width: 780px) {
  .point-feedback {
    width: 80.07812vw;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.point-feedback-img {
  width: 70%;
  margin: 0 auto;
}

@media (min-width: 780px) {
  .point-feedback-img {
    width: 30%;
    margin-left: 0;
    margin-right: 0;
  }
}

.point-feedback-img img {
  width: 100%;
  height: auto;
}

.point-feedback-txt {
  margin-top: 3rem;
}

@media (min-width: 780px) {
  .point-feedback-txt {
    width: 55%;
    margin: 0;
  }
}

.point-feedback-txt .txtm {
  font-weight: bold;
  margin-bottom: 2rem;
}

.point-curriculum {
  width: 89.33333vw;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (min-width: 780px) {
  .point-curriculum {
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 80.07812vw;
  }
}

.point-curriculum-left {
  margin-bottom: 3rem;
}

.point-curriculum-left p {
  font-weight: bold;
}

@media (min-width: 780px) {
  .point-curriculum-left {
    width: 50%;
  }
}

.point-curriculum-img {
  width: 95%;
  margin-bottom: 2rem;
  border-radius: 20px;
  box-shadow: 10px 10px 0 0 #e8edfc;
}

.point-curriculum-img img {
  width: 100%;
  height: auto;
}

.point-curriculum-right {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 780px) {
  .point-curriculum-right {
    width: 40%;
    margin-right: 0;
  }
}

.point-curriculum-right li {
  margin-bottom: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.point-curriculum-right li .txtl {
  font-size: 1.8rem;
}

.point-curriculum-right li img {
  width: 20px;
  margin-right: 1rem;
}

.point .point-bg-blue2 {
  background: #2852ab;
  color: #fff;
  padding: 3rem;
  text-align: left;
}

@media (min-width: 780px) {
  .point .point-bg-blue2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.point .point-bg-blue2 .txtxl {
  font-weight: bold;
}

.point-graph {
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  overflow: hidden;
  text-align: center;
}

.point-graph-img-sp {
  width: 180%;
  margin-left: -80px;
  text-align: center;
}

.point-graph-img-sp img {
  width: 100%;
  height: auto;
}

.point-graph-img-pc {
  width: 80.07812vw;
  margin: 0 auto;
}

.point-graph-img-pc img {
  width: 100%;
  height: auto;
}

.point-graph-img-line1 {
  position: absolute;
  top: 0;
  left: -170px;
  overflow: hidden;
}

.point-graph-img-line2 {
  position: absolute;
  top: 80px;
  right: -330px;
  overflow: hidden;
}

.point-graph-img-line3 {
  position: absolute;
  bottom: 10px;
  left: -100px;
  overflow: hidden;
}

.point-graph-img-line4 {
  position: absolute;
  bottom: 10px;
  right: -200px;
  overflow: hidden;
}

.point-graph-container {
  width: 89.33333vw;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.point-graph-container li {
  margin-bottom: 3rem;
  text-align: left;
}

.point-graph-container li .txtxl {
  color: transparent;
  -webkit-text-stroke: 1px #2852ab;
  margin-right: 1.8rem;
  font-weight: bold;
  font-family: din-condensed, sans-serif;
  font-weight: 400;
  font-size: 4rem;
}

.point-line {
  width: 100%;
  height: 10px;
  background-image: url(../img/line.svg);
}

.point-head-txt-btm {
  width: 89.33333vw;
  margin: 0 auto;
  max-width: 750px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.point-head-txt-btm .txtm {
  font-weight: bold;
  font-size: 1.8rem;
}

.point-head-line-red {
  width: 100%;
  height: 10px;
  background-image: url(../img/linered.svg);
  margin: 1.4rem 0;
}

.point-head-logo .txtxl {
  font-family: "Poppins", sans-serif;
  font-size: 7rem;
  color: #2852ab;
  text-align: center;
  margin: 4rem 0;
}

.point-feature {
  width: 89.33333vw;
  margin: 0 auto;
}

@media (min-width: 780px) {
  .point-feature {
    width: 80.07812vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.point-feature-item {
  position: relative;
  margin-bottom: 5rem;
}

@media (min-width: 780px) {
  .point-feature-item {
    width: 45.07317%;
  }
}

.point-feature-circle {
  position: relative;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -30px;
  background: #e66969;
  border: solid 1px #2c2c2c;
}

.point-feature-circle .txtxs {
  color: #fff;
}

.point-feature-head {
  border: 1px solid #2c2c2c;
  background: #2852ab;
  padding: 1rem 0;
  box-shadow: 3px 3px 0 0 #2c2c2c;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
}

.point-school {
  margin: 5rem 0;
}

.point-school-inner {
  position: relative;
  text-align: center;
  width: 89.33333vw;
  margin: 0 auto;
  max-width: 700px;
  background: #efefef;
  border-radius: 20px;
}

.point-school-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.point-school-content {
  padding: 2rem;
  width: 50%;
}

@media (min-width: 780px) {
  .point-school-content {
    padding: 4rem;
  }
}

.point-school-content:nth-child(1) {
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
  border-style: dashed;
}

.point-school-content:nth-child(2) {
  border-bottom: 1px solid #707070;
  border-style: dashed;
}

.point-school-content:nth-child(3) {
  border-right: 1px solid #707070;
  border-style: dashed;
}

.point-school-content .txtxs {
  text-align: left;
}

.point-school-content .txtxl {
  color: #2852ab;
  font-family: "Poppins", sans-serif;
}

.point-school-top {
  font-weight: bold;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  background: #e66969;
}

@media (min-width: 780px) {
  .point-school-top {
    top: -50px;
  }
}

.point-school-btm {
  font-weight: bold;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 0);
}

@media (min-width: 780px) {
  .point-school-btm {
    bottom: -50px;
  }
}

.point-school-left {
  font-weight: bold;
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translate(0, 50%);
}

@media (min-width: 780px) {
  .point-school-left {
    left: -70px;
  }
}

.point-school-right {
  font-weight: bold;
  position: absolute;
  bottom: 50%;
  right: 0;
  transform: translate(0, 50%);
  background: #e66969;
}

@media (min-width: 780px) {
  .point-school-right {
    right: -70px;
  }
}

.point-school-borderbg {
  position: absolute;
  top: -25px;
  right: 30px;
  width: 15%;
}

@media (min-width: 780px) {
  .point-school-borderbg {
    width: 20%;
    top: -80px;
    right: -80px;
  }
}

.point-school-borderbg img {
  width: 100%;
  height: auto;
}

.point-school-border {
  position: relative;
  position: absolute;
  top: -30px;
  right: 35px;
  width: 15%;
}

@media (min-width: 780px) {
  .point-school-border {
    width: 20%;
    top: -70px;
    right: -70px;
  }
}

.point-school-border img {
  width: 100%;
  height: auto;
}

.point-school-border-inner {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: bold;
}

@media (min-width: 780px) {
  .point-school-border-inner {
    font-size: 2.2rem;
  }
}

.point-bg-blue3 {
  background: #2852ab;
  text-align: center;
  padding: 3rem 2rem;
}

.point-bg-blue3 .suggestion {
  margin-bottom: 2rem;
  font-weight: bold;
  color: #2c2c2c;
}

.point-bg-blue3-list {
  color: #fff;
  max-width: 620px;
  margin: 0 auto;
}

.point-bg-blue3-list li {
  margin-bottom: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: bold;
}

.point-bg-blue3-list li .txts {
  font-size: 1.4rem;
}

.point-bg-blue3-list li img {
  width: 15px;
  margin-right: 1rem;
}

.faq {
  padding: 5rem 0;
  background: #fafbff;
}

.faq-inner {
  width: 89.33333vw;
  margin: 0 auto;
}

.faq-title {
  width: 20%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

@media (min-width: 541px) {
  .faq-title {
    width: 15%;
  }
}

.faq-title img {
  width: 100%;
}

.faq-container {
  border-bottom: 1px solid #707070;
  border-style: dashed;
  padding: 1rem;
}

.faq-content-q {
  padding: .4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-content-q-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.faq-content-q-inner-circle {
  position: relative;
  width: 3rem;
  height: 3rem;
  background: #2852ab;
  border-radius: 50%;
  border: 1px solid #2c2c2c;
  margin-right: 1rem;
}

.faq-content-q-inner-circle .txts {
  color: #fff;
  font-weight: normal;
}

.faq-content-a {
  background: #fafbff;
  border-top: none;
  padding: .4rem;
  display: none;
}

.faq-content-a-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.faq-content-a-inner-circle {
  position: relative;
  width: 3rem;
  height: 3rem;
  background: #e66969;
  border-radius: 50%;
  border: 1px solid #2c2c2c;
}

.faq-content-a-inner-circle .txts {
  color: #fff;
  font-weight: normal;
}

.faq-content-a-inner-txt {
  margin-left: 1rem;
  width: 90%;
}

.faq .arrow-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.faq .arrow-icon::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 4px;
  top: 2px;
}

.faq #accordion dt.open .arrow-icon::after {
  transform: rotate(-135deg);
  transition: .5s;
}

.greetings {
  margin: 5rem 0 3rem 0;
}

@media (min-width: 780px) {
  .greetings {
    margin-bottom: 8rem;
  }
}

.greetings-inner {
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
}

@media (min-width: 780px) {
  .greetings-inner {
    display: flex;
    justify-content: center;
    max-width: 700px;
  }
}

.greetings-img {
  width: 40%;
  margin-right: 5rem;
}

.greetings-img img {
  width: 100%;
  height: auto;
}

@media (min-width: 780px) {
  .greetings-txt {
    width: 60%;
  }
}

.greetings-txt .txts {
  line-height: 2;
}
