.faq {
  padding: 5rem 0;
  background: $lightgray;


  &-inner {
    width: $sp-width;
    margin: 0 auto;
  }


  &-title {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 4rem;

    @media (min-width: 541px) {
      width: 15%;
    }

    img {
      width: 100%;
    }
  }


 

  &-container {
    border-bottom: 1px solid #707070;
    border-style: dashed;
    padding: 1rem;
  }

  &-content-q {
    padding: .4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &-inner {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &-circle {
        position: relative;
        width: 3rem;
        height: 3rem;
        background: $blue;
        border-radius: 50%;
        border: 1px solid $black;
        margin-right: 1rem;
        
        .txts {
          @extend %center;
          color: $white;
          font-weight: normal;
        }
      }

      
    }
  }

  &-content-a {
    background: $lightgray;
    border-top: none;
    padding: .4rem;
    display: none;

    &-inner {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &-circle {
        position: relative;
        width: 3rem;
        height: 3rem;
        background: $pink;
        border-radius: 50%;
        border: 1px solid $black;
        
        .txts {
          @extend %center;
          color: $white;
          font-weight: normal;

        }
      }

      &-txt {
        margin-left: 1rem;
        width: 90%;
      }
    }

  }

  .arrow-icon {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
  } 
  .arrow-icon::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 4px;
    top: 2px

  }

  #accordion dt.open {  
  .arrow-icon::after {
      transform: rotate(-135deg);
      transition: .5s;
  }
}
  

}