.greetings {
  margin: 5rem 0 3rem 0;

  @media (min-width: 780px) {
    margin-bottom: 8rem;
  }

  &-inner {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;

    @media (min-width: 780px) {
      display: flex;
      justify-content: center;
      max-width: 700px;
    }
  }

  &-img {
    width: 40%;
    margin-right: 5rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-txt {

    @media (min-width: 780px) {
      width: 60%;
    }

    .txts {
      line-height: 2;
    }
  }
}