.hero {
  overflow: hidden;

  &-bg {
    background-image: url(../img/hero@2x.png);
    background-position: 30px 100%;
    background-size: 110%;
    background-repeat: no-repeat;

    @media (min-width: 780px) {
     background-position: 120px 100%;
     background-size: 95%;
      
    }
  }



  &-inner {
    width: $sp-width;
    margin: 0 auto;

    @media (min-width: 780px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 10rem 0 12rem 0;
      width: $pc-width;
    }
  }

  &-title {
    @media (min-width: 780px) {
      margin-left: 4rem;
      width: 50%;

    }

    .txtxl {
      font-weight: bold;
      margin-bottom: 1rem;

      @media (min-width: 780px) {
        margin-bottom: 4rem;
        font-size: 4rem;
      }
    }

    .txts {
      font-weight: bold;

      @media (min-width: 780px) {
        font-size: 1.6rem;
      }
    }
  }

  &-list {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;

    @media (min-width: 780px) {
     padding: 0;
     justify-content: space-between;
     width: 60%;
    }

  }

  &-item {
    background: $pink;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    position: relative;
    line-height: 1.2;

    @media (min-width: 780px) {
      width: 160px;
      height: 160px;
     }

    &-inner {
      @extend %center;
    }
    

    .txts {
      color: $blue;

      .bold {
        font-weight: bold;
        font-size: 2rem;
        line-height: 1;
      }
    }

    .txtxs {
      color: $white;
    }
  }

  &-btm {
    text-align: center;

    @media (min-width: 780px) {
      width: 100%;
      display: flex;
      align-items: stretch;

    }

    &-school {
      background: $blue;
      color: $white;
      padding: 1.4rem 0;

      

      @media (min-width: 780px) {
        width: 60%;
        padding: 6rem;
        display: flex;
        align-items: center;
        
        .txtm {
          font-size: 3rem;
        -webkit-text-stroke: 2px $black;

        }

        
        &-img {
          width: 100%;
          margin: 0 auto;
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    &-box {
      border: 5px solid $black;

      @media (min-width: 780px) {
        width: 40%;
        height: 100%;
      }

      .txts {
        background: $black;
        color: $white;
        padding: 1.4rem 0;
      }
    }

    &-logo {
      font-size: 50px;
      font-family: $logo;
      color: $blue;
      letter-spacing: .1em;
    }

  }
}