.point {
  

  &-content {
    margin: 5rem 0;

    &:last-child {
      margin: 0;
    }
    
  }

  &-head {
    @media (min-width:780px) {
      display: flex;
      justify-content: flex-start;
      margin-left: 8rem;
      width: $pc-width;
    }

    &-txt {
      width: $sp-width;
      margin: 0 auto;

      @media (min-width:780px) {
        width: 70%;
      }

      .txtl {
        font-weight: bold;
        text-align: center;
        margin: 1.4rem 0;

        @media (min-width:780px) {
          text-align: left;
        }
      }
    }

    &-line {
      width: 100%;
      height: 50px;
      background-image: url(../img/linecircle@2x.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
    }
  }

  &-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    background: $blue;
    text-align: center;
    position: relative;

    @media (min-width:768px) {
      width: 200px;
      height: 200px;
    }

    &-inner {
      @extend %center;
      color: $white;


      .txtxl {
        font-size: 5rem;
        // line-height: .9;
      }

    }

  }

  &-merit {
    width: $sp-width;
    margin: 0 auto;
    margin-bottom: -10rem;

    @media (min-width:780px) {
      display: flex;
      justify-content: space-between;
      width: (1236/1280)*100vw;
    }


      &-inner {
        font-weight: bold;

        .txtl {
          margin-bottom: 2rem;
          text-align: center;
        }
      }

    &-item {
      position: relative;
      border: 3px solid $black;
      padding: 7rem 2rem 4rem 2rem;
      border-radius: 20px;
      margin-top: 8rem;
      background: $white;
      z-index: 2;

      @media (min-width:780px) {
        width: (395/1236)*100%;
      }

      
    }

    &-circle {
      position: relative;
      background: $pink;
      border: 2px solid $black;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translate(-50%, 0);

      @media (min-width:780px) {
        width: 120px;
        height: 120px;
        top: -60px;

      }


      &-inner {
        @extend %center;
        text-align: center;

        .txtxs {
          color: $blue;
        }

        .txtl {
          color: $white;
          font-family: $number;
          font-size: 3.6rem;

          @media (min-width:780px) {
            line-height: 1;
          }
        }
        


      }
    }
  }

  &-bg-blue {
    background: $blue;
    width: 100%;
    text-align: center;
    padding: 14rem 2rem 4rem 2rem;

    @media (min-width:780px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .txtm {
      color: $white;

      @media (min-width:780px) {
        margin-right: 1rem;
      }
    }

    .txtxl {
      color: $white;
      font-weight: bold;
      -webkit-text-stroke: 2px black;

      @media (min-width:780px) {
        font-size: 4.4rem;
      }
    }
  }

  .border1 {
    width: 100%;
    height: 10px;
    background-image: url(../img/line.svg);
    transform: rotate(0deg);
    margin: 0;
  }

  &-feedback {
    background: $white;
    padding: 3rem 2rem;

    @media (min-width:780px) {
      width: $pc-width;
      margin: 0 auto;
      padding: 0;
      display: flex;
      justify-content: space-between;
      margin-top: 5rem;
      margin-bottom: 5rem;
    }

    &-img {
      width: 70%;
      margin: 0 auto;

      @media (min-width:780px) {
       width: 30%;
       margin-left: 0;
       margin-right: 0;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &-txt {
      margin-top: 3rem;

      @media (min-width:780px) {
       width: 55%;
       margin: 0;
      }

      .txtm {
        font-weight: bold;
        margin-bottom: 2rem;
      }
    }
  }

  // 1



  // 2

  &-curriculum {
    width: $sp-width;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;

    @media (min-width: 780px) {
      display: flex;
      justify-content: space-between;
      align-items: top;
      width: $pc-width;
    }

    &-left {
      margin-bottom: 3rem;

      p {
        font-weight: bold;
      }

      @media (min-width:780px) {
        width: 50%;
      }
    }

    &-img {
      width: 95%;
      margin-bottom: 2rem;
      border-radius: 20px;
      box-shadow: 10px 10px 0 0 $gray;


      img {
        width: 100%;
        height: auto;
      }
    }

    &-right {
      width: 90%;
      margin: 0 auto;

      @media (min-width:780px) {
        width: 40%;
        margin-right: 0;
      }

      li {
        margin-bottom: 2rem;
        display: flex;
        justify-content: start;
        align-items: center;
        
        .txtl {
          font-size: 1.8rem;
        }
    

        img {
          width: 20px;
          margin-right: 1rem;
        }

      
      }
    }
  }

 
    .point-bg-blue2 {
      background: $blue;
      color: $white;
      padding: 3rem;
      text-align: left;

      @media (min-width: 780px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .txtxl {
        font-weight: bold;
      }
 
    }


  &-graph {
    
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    overflow: hidden;
    text-align: center;


    &-img {

      &-sp {
        width: 180%;
        margin-left: -80px;
        text-align: center;

        img {
          width: 100%;
          height: auto;
        }
      }

      &-pc {
        width: $pc-width;
        margin: 0 auto;

        img {
          width: 100%;
          height: auto;
        }
      }


      

      &-line1 {
        position: absolute;
        top: 0;
        left: -170px;
        overflow: hidden;
        
      }

      &-line2 {
        position: absolute;
        top: 80px;
        right: -330px;
        overflow: hidden;

      }

      &-line3 {
        position: absolute;
        bottom: 10px;
        left: -100px;
        overflow: hidden;

      }

      &-line4 {
        position: absolute;
        bottom: 10px;
        right: -200px;
        overflow: hidden;

      }
    }

    &-container {
      width: $sp-width;
      margin: 0 auto;
      margin-top: 4rem;
      margin-bottom: 4rem;

      li {
        margin-bottom: 3rem;
        text-align: left;

        .txtxl {
          color: transparent;
          -webkit-text-stroke: 1px $blue;
          margin-right: 1.8rem;
          font-weight: bold;
          font-family: $number;
          font-weight: 400;
          font-size: 4rem;
        }
      }
    }
  }

  &-line {
    width: 100%;
    height: 10px;
    background-image: url(../img/line.svg);
  }

  // 3

  &-head {
    // display: block;
    
    
      &-txt-btm {
        width: $sp-width;
        margin: 0 auto;
        max-width: 750px;   
        margin-top: 3rem;
        margin-bottom: 3rem;

        
        
    
        .txtm {
          font-weight: bold;
          font-size: 1.8rem;

        }
      }

      &-line-red {
        width: 100%;
        height: 10px;
        background-image: url(../img/linered.svg);
        margin: 1.4rem 0;
      }

      &-logo {

        .txtxl {
          font-family: $logo;
          font-size: 7rem;
          color: $blue;
          text-align: center;
          margin: 4rem 0;
        }
      }
  }

  &-feature {
    width: $sp-width;
    margin: 0 auto;

    @media (min-width: 780px) {
    width: (1025/1280)*100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    &-item {
      position: relative;
      margin-bottom: 5rem;

      @media (min-width: 780px) {
        width: (462/1025)*100%;

      }
    }

    &-circle {
      position: relative;
      width: 58px;
      height: 58px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: -30px;
      background: $pink;
      border: solid 1px $black;

      .txtxs {
        @extend %center;
        color: $white;
      }
    }

    &-head {
      border: 1px solid $black;
      background: $blue;
      padding: 1rem 0;
      box-shadow: 3px 3px 0 0 $black;
      color: $white;
      text-align: center;
      margin-bottom: 2rem;
      font-weight: bold;
    }
  }



  // 4

  &-school {
    margin: 5rem 0;

    &-inner {
      position: relative;
      text-align: center;
      width: $sp-width;
      margin: 0 auto;
      max-width: 700px;
      background: #efefef;
      border-radius: 20px;
      
    }

    &-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-content {
      padding: 2rem;
      width: 50%;

      @media (min-width:780px) {
        padding: 4rem;
      }

      &:nth-child(1) {
        border-right: 1px solid #707070;
        border-bottom: 1px solid #707070;
        border-style: dashed;
      }

      &:nth-child(2) {
        border-bottom: 1px solid #707070;
        border-style: dashed;
      }

      &:nth-child(3) {
        border-right: 1px solid #707070;
        border-style: dashed;
      }

      .txtxs {
        text-align: left;
      }

      .txtxl {
        color: $blue;
        font-family: $logo;
      }
    }

    &-top {
      font-weight: bold;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translate(-50%, 0);
      display: inline-block;
      background: $pink;

      @media (min-width:780px) {
        top: -50px;
      }
    }

    &-btm {
      font-weight: bold;
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translate(-50%, 0);

      @media (min-width:780px) {
        bottom: -50px;
      }
    }

    &-left {
      font-weight: bold;
      position: absolute;
      bottom: 50%;
      left: 0;
      transform: translate(0, 50%);

      @media (min-width:780px) {
        left: -70px;
      }
    }

    &-right {
      font-weight: bold;
      position: absolute;
      bottom: 50%;
      right: 0;
      transform: translate(0, 50%);
      background: $pink;

      @media (min-width:780px) {
        right: -70px;
      }
    }

    

    &-borderbg {
      position: absolute;
      top: -25px;
      right: 30px;
      width: 15%;

      @media (min-width:780px) {
        width: 20%;
        top: -80px;
        right: -80px;
      }

      img {
        width: 100%;
        height: auto;
      }

    }

    &-border {
      position: relative;
      position: absolute;
      top: -30px;
      right: 35px;
      width: 15%;

      @media (min-width:780px) {
        width: 20%;
        top: -70px;
        right: -70px;
      }

      img {
        width: 100%;
        height: auto;
      }

      &-inner {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);
        font-weight: bold;

        @media (min-width:780px) {
          font-size: 2.2rem;
        }
      }
    }
  }

  &-bg-blue3 {
    background: $blue;
    text-align: center;
    padding: 3rem 2rem;

    .suggestion {
      margin-bottom: 2rem;
      font-weight: bold;
      color: $black;
    }

    &-list {
      color: $white;
      max-width: 620px;
      margin: 0 auto;

      li {
        margin-bottom: 1rem;
        display: flex;
        justify-content: start;
        align-items: center;
        font-weight: bold;
        
        .txts {
          font-size: 1.4rem;
        }
    
        img {
          width: 15px;
          margin-right: 1rem;
        }
      }

    }
  }

  
}